@import "tailwindcss";

@keyframes slideInRight {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInRight 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
